.container {
    background-color: #fafafa;
    width: 100%;
}

.center {
    text-align: center;
}

.mat-card {
    padding: 20px;
    width: 50%;
    height: 15px;
    margin: 10px;
}

.big {
    width: 80%;
}

.regular {
    width: 50%;
}

.small {
    width: 300px;
}

.example-form {
    margin: 10px;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

button {
    margin-right: 90px;
}

mat-icon {
    font-size: 15px;
    line-height: 38px;
}

mat-form-field {
    margin: 20px;
}