<div class="container">    
    <h2>Login</h2>
    <form [formGroup]="form" (ngSubmit)="saveForm(form)">
        <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Type your name..." formControlName="name" #nameInput/>
            <mat-hint>{{nameInput.value.length}}/{{minLengthForName}}</mat-hint>
            <mat-error *ngIf="form.controls['name'].errors?.['required']">Name is required</mat-error>
            <mat-error *ngIf="form.controls['name'].errors?.['minlength']">Please enter more than {{minLengthForName}} characters</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" placeholder="Enter your Password"/>
            <mat-icon matSuffix>mail_outline</mat-icon>
            <mat-error *ngIf="form.controls['password'].errors?.['required']">Password is required</mat-error>
            <mat-error *ngIf="form.controls['password'].errors?.['pattern']">Please enter a valid password</mat-error>
        </mat-form-field>

        <div align="right">
            <button mat-raised-button color="primary" type="sumbit" [disabled]="!form.valid">Submit</button>
        </div>
    </form>
</div>
