<table>
    <thead>
        <th>
            Nombre
        </th>
        <th>
            Edad
        </th>
        <th>
            Regalar
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let cat of catList">
            <td>{{cat.nombre}}</td>
            <td>{{cat.edad}}</td>
            <td>
                <button mat-mini-fab color="warn" (click)="giveAway(cat.nombre)">
                    <mat-icon>redeem</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>